@font-face{
  font-family: "Quicksand";
  src:
  url("../assets/fonts/Quicksand/Quicksand\ Regular.woff2"),
  url("../assets/fonts/Quicksand/Quicksand\ Regular.woff"),
  url("../assets/fonts/Quicksand/Quicksand-Regular.ttf") format("truetype");
}

@font-face{
  font-family: "Monsterrat";
  src: 
  url("../assets/fonts/Monsterrat/Montserrat\ Regular.woff2 Regular.woff2"),
  url("../assets/fonts/Monsterrat/Montserrat\ Regular.woff Regular.woff"),
  url("../assets/fonts/Monsterrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face{
  font-family: "Monsterratbold";
  src: 
  url("../assets/fonts/Monsterrat/Montserrat-Bold.ttf") format("truetype");
}

@font-face{
  font-family: "Quicksandbold";
  src:
  url("../assets/fonts/Quicksand/Quicksand-Bold.ttf") format("truetype");
}