doctype html
html(lang="ru-RU")
    head
        link(href="./css/styles.css" rel="stylesheet" )
        title Colors & Types

body
    .app
        include components/header
        include components/colors
        include components/titles