- 
    var db_array = [
        {
            id: 'block1',
            id2: 'ctitle1',
            rgb_id:'rgbtitle1',
            textid: 'text1',
            title: 'Dark Shade 100%',
            rgbtitle: '#1F2041',
        },
        {
            id: 'block2',
            id2: 'ctitle2',
            rgb_id:'rgbtitle2',
            textid: 'text2',
            title: 'Dark Shade 75%',
            rgbtitle: '#1F2041'
        },
        {
            id: 'block3',
            id2: 'ctitle3',
            rgb_id:'rgbtitle3',
            textid: 'text3',
            title: 'Dark Shade 50%',
            rgbtitle: '#1F2041'
        },
        {
            id: 'block4',
            id2: 'ctitle4',
            rgb_id:'rgbtitle4',
            textid: 'text4',
            title: 'Dark Shade 25%',
            rgbtitle: '#1F2041'
        },
        {
            id: 'block5',
            id2: 'ctitle5',
            rgb_id:'rgbtitle5',
            textid: 'text5',
            title: 'Dark Shade 5%',
            rgbtitle: '#1F2041'
        },
        {
            id: 'block6',
            id2: 'ctitle6',
            rgb_id:'rgbtitle6',
            textid: 'text6',
            title: 'Purple',
            rgbtitle: '#BC9CFF'
        },
        {
            id: 'block7',
            id2: 'ctitle7',
            rgb_id:'rgbtitle7',
            textid: 'text7',
            title: 'Green',
            rgbtitle: '#6FCF97'
        }
    ]

-
    var tags_db =[
        {
            id: 'title1',
            id2: 'item1',
            tags: 'H1',
            description: 'This one is the sub-section or widget title',
            description_id: 'desc1'
        },
        {
            id: 'title2',
            id2: 'item2',
            tags: 'H2',
            description: 'Next one is the item title inside widgets',
            description_id: 'desc2'
        },
        {
            id: 'title3',
            id2: 'item3',
            tags: 'H3',
            description: 'THIS IS A LABEL OR CTA TEXT',
            description_id: 'desc3'
        },
        {
            id: 'title4',
            id2: 'item4',
            tags: 'Body',
            description: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.',
            description_id: 'desc4'
        }
    ]
